.checklists
	color: $light-text
	&__container
		padding: 0 60px
	&__wrapper
		display: flex
		padding: 45px 0
		position: relative
		height: calc(100vh - 137px)
	&-create
		display: flex
		padding: 10px
		&__input
			margin-right: 10px
			height: 34px
			max-width: 180px
			padding: 0 15px
		&__submit
			height: 34px